<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assist_GW.DTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Assist_GW.DTO.Properties.Settings.ClientF_DB"
            connectionString="Data Source=;Initial Catalog=Fleet;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
        <add name="Assist_GW.DTO.Properties.Settings.ClientDBF_DB"
            connectionString="Data Source=;Initial Catalog=ClientDBF;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
        <add name="Assist_GW.DTO.Properties.Settings.Assist_DB"
            connectionString="Data Source=;Initial Catalog=Assist;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Assist_GW.DTO.Properties.Settings>
            <setting name="DefaultLog" serializeAs="String">
                <value>C:\Assist\Logs</value>
            </setting>
            <setting name="InstanceId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProtocolId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GetUserToken" serializeAs="String">
                <value>GetUserToken</value>
            </setting>
            <setting name="GPSAssetTracking" serializeAs="String">
                <value>Event</value>
            </setting>
            <setting name="ApiUserId" serializeAs="String">
                <value>tem:userId</value>
            </setting>
            <setting name="ApiUserPass" serializeAs="String">
                <value>tem:password</value>
            </setting>
            <setting name="TokenNode" serializeAs="String">
                <value>a:token</value>
            </setting>
            <setting name="GPSAssetNode" serializeAs="String">
                <value>a:idJob</value>
            </setting>
            <setting name="ApiResponseTokenError" serializeAs="String">
                <value>Autentificación incorrecta</value>
            </setting>
        </Assist_GW.DTO.Properties.Settings>
    </applicationSettings>
</configuration>